body {
    height: 100%;
}

.content {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.background {
    width: 100%;
    height: auto;
    margin: auto;
    background-image: url(assets/city_background.jpg);
    background-size: contain;
    background-position: center;
    aspect-ratio: 16/9;
    background-color: transparent;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15%;
    
}

.logoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 55%;
    align-content: center;
    justify-content: center;
    padding-top: 1.5vw;
}

.lanternContainer {
    align-content: center;
    justify-content: center;
}

.textContainer {
    align-content: center;
    justify-content: center;
    color: #FEEBB7;
    width: 26%;
    height: 60%;
    text-align: center;
    line-height: 1vw;
    padding-top: 3vw;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 10%;
    width: 10%;
    height: 45%;
    list-style: none;
}

.box {
    background-color: #CC0809;
    height: 30%;
    width: 150%;
    border-radius: 0.8vw;
    align-content: center;
    justify-content: center;
    color: #FEEBB7;
    font-family: el-messiri, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8vw;
    text-align: center;
}

.box:hover {
    background-color: #A20001;
}

a {
    color: #FEEBB7;
    text-decoration: none;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10vw;
    align-items: center;
    background-color: #CC0809;
    height: 12vw;
    width: auto;
    padding-left: 2vw;
    padding-right: 8vw;
}

.fLeftBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    height: 100%;
    width: 25vw;
}

.footerLogo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70vw;
    height: 100%;
    align-items: center;
    
}

.fTextContainer {
    align-content: center;
    justify-content: center;
    color: #FEEBB7;
    width: 30%;
    height: 60%;
    text-align: center;
    line-height: 0.2vw;
    padding-top: 2vw;
}

.contact {
    justify-content: center;
    color: #FEEBB7;
    padding-top: 2vw;
}

.fMidBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #FEEBB7;
    justify-content: flex-end;
    align-content: center;
    padding-top: 4vw;
    padding-bottom: 2vw;
    height: 50%;
    gap: 2vw;
    width: 17vw;
}

.hours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 17vw;
    height: 10vw;
    line-height: 2vw;
    float: left;
}

.days {
    width: 8vw;
}

.times {
    width: 8vw;
}

.map{
    align-content: center;
    justify-content: center;
    padding-top: 1vw;
    
    width: 30vw;
    height: 20vw;

}


h1 {
    font-family: "Supermercado One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
}

h2 {
    font-family: el-messiri, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
}

h3 {
    font-family: "Supermercado One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
}

h4 {
    font-family: el-messiri, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2vw;
}

h5 {
   font-family: el-messiri, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9vw; 
}

h6 {
    font-family: "Supermercado One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
}

.h7 {
    font-family: "Supermercado One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
}

img {
   width: auto;
   height: auto;
   max-width: 9vw;
   max-height: 9vw;
}

.foot {
    width: auto;
    height: auto;
    max-width: 6vw;
    max-height: 6vw;
}


/* Secondary Pages */

.banner {
    width: 100%;
    height: auto;
    margin: auto;
    background-image: url(assets/background_banner.jpg);
    background-size: contain;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: row;
    aspect-ratio: 427/76;
    justify-content: space-between;
}



.bannerLogo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70vw;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 1vw;
    position: absolute;
}

.bLogoText {
    align-content: flex-start;
    justify-content: center;
    color: #FEEBB7;
    width: 30%;
    height: 60%;
    text-align: center;
    line-height: 0.05vw;
    padding-top: 0.8vw;
}

.heading {
    display: flex;
    width: 100%;
    height: 100%;
    color: #FEEBB7;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 30vw;
}

.navBox {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding-top: 1vw;
    
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #CC0809;
    height: 3vw;
    width: 30vw;
    gap: 2vw;
    border-radius: 0.8vw 0vw 0vw 0.8vw;
    align-items: center;
    justify-content: center;
    color: #FEEBB7;
    font-family: el-messiri, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2vw;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.navElem {
    
}

.navElem:hover {
    text-decoration: underline;
    text-decoration-color: #FEEBB7;
}

.active {
    text-decoration: underline;
    text-decoration-color: #FEEBB7;

}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFF8E4;
    width: 100%;
    height: auto;
    padding-top: 1vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    justify-content: flex-start;
    color: #CC0809;
}

.sideNav {
    background-color: #FEEBB7;
    border-radius: 2vw;
    width: 15vw;
    height: auto;
    display: flex;
    flex-direction: column;
    position: sticky;
    align-self: flex-start;
    z-index: 1;
    top: 10vw;
    left: 1.5vw;
    padding-left: 1.5vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    gap: 2vw;
}

.sideNav a {
    text-decoration: none;
    color: #CC0809;
    display: block;
    font-family: "Supermercado One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
}

.sideNav a:hover {
    color: #A20001;
    text-decoration: underline;
    text-decoration-color: #A20001;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    padding-left: 20vw;
    margin-left: -10vw;
    
}

.itemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
    padding-bottom: 2vw;
    gap: 1vw;
}

.menuHeader {
    color: #CC0809;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3vw;
    padding-right: 8vw;
    padding-bottom: 2vw;
}

.itemName {
    font-family: el-messiri, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5vw;
    color: black;
    
}

.itemDescription {
    font-family: el-messiri, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    color: black;
    text-align: center;
    line-height: 2vw;
    width: 18vw;
}

.aboutInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: el-messiri, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    color: black;
    padding-top: 6vw;
    margin-left: -5vw;
    width: 30vw;
    line-height: 1.6vw;
}

.aboutInfoText {
    
}